<form method="post" asp-controller="BarcodeCalling" asp-action="CheckMultiple">
    <textarea name="barcodes" placeholder="Enter barcodes separated by newline"></textarea>
    <button asp-action="CheckMultiple" type="submit">Check All</button>
</form>